.details .table--item{
    margin-left:0;
    width:100%;
}

.post--content iframe{
    width:100%;
    height: 100%;
}

.details  .post--content{
    height: 50vh;
}

.details .table--row > div:first-child{
    width:100%;
}

.details .post--content .title{
    font-weight: bold;
}

.details .post--content .description{
    padding-bottom: 15px;
}