.file-upload-wrapper {
    background: #f4f4f5;
    padding: 30px;
    margin-bottom: 18px;
    border-radius: 20px;
    box-shadow: 0 1px 1px 2px #dfdedeb5;
}

.file-upload-title {
    width: 100%;
    text-align: center;
    margin-bottom: 23px;
}

.file-upload-template {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #4670be;
    text-decoration: underline;
}