.leftbox {
    width: 30%;
}

.leftbox-inner {
    border-radius: 20px;
    background-color: #fff;
    display: block;
    position: relative;
    border-radius: 13px;
    padding: 25px;
    border: 1px solid #ddd;
    margin: 0 5%;
}

.tax-full textarea {
    min-height: 90px;
}

.tab {
    font-size: 13px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 2px;
    background: #efefef;
    margin-bottom: 5px;
}

.leftbox h3 {
    margin-top: 30px;
    font-size: 18px;
}

.leftbox>button,
.tax-full button,
.round-btn-transp {
    background: #4670be;
    border: none;
    margin-top: 20px;
    color: #fff;
    padding: 11px 23px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 40px;
}

.round-btn-transp.round-btn-transparent {
    background: none;
    color: gray;
}

.leftbox .sugg {
    font-size: 13px;
    margin-top: 11px;
}

.leftbox thead {
    color: gray;
    font-size: 13px;

}

.leftbox thead td {
    padding-bottom: 7px;
}


.tax-full {
    /* background: #e2e2e2; */
    overflow: auto;
    width: 100%;
}

.tax-title-line {
    width: 100%;
    height: 61px;
    background: #fff;
    border-bottom: 2px solid #d0d0d0;
    /* position: fixed; */
    z-index: 7;
}

.tax-mid {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.tax-title-line>.tax-mid {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 19px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 15px;
    min-height: 6px;
    height: 14px;
    -webkit-appearance: radio;
    appearance: radio;
}

.tax-mid input[type="date"] {
    width: 48.5%;
    margin-right: 3%;
}

.tax-mid input[type="date"]:last-child {
    margin-right: 0;
}

.fa-facebook {
    color: #4064ac;
}

.fa-twitter {
    color: #1c9cea
}

.fa-youtube {
    color: #f70000
}

.fa-trash-can {
    color: rgba(0, 0, 0, 0.14)
}

.account {
    width: 70%;
}

.account .fa-facebook,
.account .fa-twitter,
.account .fa-youtube {
    width: 18px
}

.account .fa-trash-can {
    float: right
}

.upload-btn {
    cursor: pointer
}

.left-m-5 {
    margin-left: 5%;
}


.leftbox td:first-child {
    /* width: 100%; */
}

.tax-label {
    color: #4670be;
}

.tax-label span {
    color: red;
}

.tax-line {
    border-bottom: 3px solid #bcbcbc66;
}

.tax-tip {
    background: #eef2f9;
    padding: 10px;
    margin: 16px 0;
    border-radius: 10px;
    padding-left: 15px;
}

.tax-tip svg {
    margin-right: 15px;
}

.tax-tip svg * {
    fill: #eddd5e
}

/* checkbox{} */
.tax-full .container {
    display: block;
    position: relative;
    margin-bottom: 18px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 45px;
    background-color: #eee;
    margin-left: 8px;
    border-radius: 20px;
    transition: .2s
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    /* background-color: #ccc; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    /* display: none; */
}

/* When the checkbox is checked, add a blue background */
.container .checked {
    background-color: #4670be;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 3px;
    width: 19px;
    height: 19px;
    background: #a0a0a0;
    border-radius: 100%;
    transition: .2s;
    transform: rotate(37deg);
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    padding-top: 2px;
}

/* Show the checkmark when checked */
.container .checked:after {
    content: "┘";
    right: 4px;
    left: auto;
    background: white;
    font-size: 1em;
}

/* file upload */
.tax-full label[for="file"] {
    min-width: 100%;
    height: 110px;
    border: dashed 2px #b9b9b9;
    background: white;
    border-radius: 10px;
    /* margin-bottom: 17px; */
}

.tax-full label[for="file"] svg {
    display: none;
}

.tax-full label[for="file"]>div>span:first-child {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-top: -26px;
}

.tax-full label[for="file"]>div>span:nth-child(2) {
    color: transparent;
}

.tax-full label[for="file"]>div>span:nth-child(2):after {
    position: absolute;
    content: "Browse file";
    background: #4670be;
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 30px;
    width: 150px;
    bottom: 15px;
    text-align: center;
    font-size: 16px;
    left: calc(50% - 75px)
}

.disabled-input {
    width: 48%;
    display: inline-block;
    background: #e5e5e5ab;
}

.tax-large-title {
    font-size: 22px;
}

.tax-toggle-cont {
    /* padding-left: 15px; */
    /* border-left: 1.5px solid #c7c3c3; */
    transition: .2s;
    max-height: 0;
    overflow: hidden;
}

.tax-toggle-cont.tax-toggle-cont-show {
    max-height: 2000px;

}

.tax-toggle-cont div:first-child .tax-label {
    padding-top: 10px;
}

.tax-toggle-cont .tax-line:last-child {
    /* display: none; */
}


.results-full {
    width: 100%;
    display: flex;
}

.tax-right-block {
    width: 70%;
    display: flex;
    flex-flow: column;
    background: #f4f4f5;
}

.hits-count {
    height: 80px;
    border-bottom: 2px solid #d8d8d8;
    padding: 25px;
    width: 90%;
    margin-left: 5%;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hits-count img,
.hits-count svg {
    height: 20px;
    margin-left: 20px;
}

.leftbox-title {
    width: 90%;
    margin-left: 5%;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 3.5vh 0 3.5vh 5%;
    font-size: 20px;
    color: #b1b1b1;
    border-bottom: 2px solid gainsboro;
    margin-top: 5px;
    font-weight: 500;
    justify-content: space-between;
}

.leftbox-title svg {
    color: #4670beba;
    transform: rotate(-90deg);
}

.leftbox-title.leftbox-title-blue {
    color: #4670beba;
    border-bottom: none;
    margin-bottom: 0px;
}

.tax-keywords-table thead td {
    border-bottom: 2px solid gainsboro;
    /* text-align: center; */
}

table {
    table-layout: fixed;
    border-spacing: 0;
}

.tax-keywords-table td:nth-child(2) {
    width: 50%;
    text-align: left;
}

.tax-keywords-table td:nth-child(1) {
    width: 8%;
    text-align: left;
}

.tax-keywords-table td {
    width: 12%;
    overflow: hidden;
    text-align: right;
    font-size: 17px;
    padding: 9px 10px;
}


.tax-keywords-table tbody td {
    border-bottom: 1px solid gainsboro;
}

.leftbox-inner.leftbox-inner-recomm {
    margin-top: 30px;
    padding: 0 25px;
}

.leftbox-inner.leftbox-inner-recomm .leftbox-title {
    margin: 0;
    padding: 0;
    width: 100%;
}

.leftbox-inner.leftbox-inner-recomm .leftbox-title svg {
    transform: none;
}

.search-header {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 32px 10px 32px;
}

.search-header .keyword {
    color: #DD7A1E;
}

.op {
    background: #616468;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    padding: 2px 6px;
    margin: 0px 5px;
}

.ant-table-pagination>* {
    align-items: center;
    display: flex;
    justify-content: center;
}


.tax-scroll {
    height: calc(92vh - 61px);
    overflow: scroll;
}

.tax-line-cont {
    position: relative;
}


.tax-line-or {
    position: absolute;
    left: 50%;
    top: -7px;
    background: #fafafa;
    padding: 0 20px;
    font-weight: bold;
    color: #717171;
}

.leftbox-inner button.ant-btn.ant-btn-primary {
    padding: 6px 8px;
    font-size: .8em;
}

.fixed-col {
    height: 100%;
    position: sticky;
    top: 0px;
}

.tax-delete {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.tax-delete:hover svg {
    color: #4670bebb;

}

.leftbox-inner .ant-table-tbody>tr>td:nth-child(2) {
    max-width: 14vw;
}

.leftbox-inner .ant-table-tbody>tr>td {
    max-width: 2vw;
    white-space: nowrap;
}

.leftbox-inner .ant-table-tbody>tr>td:nth-child(2)>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tax-cont .top-filters {
    width: 67%;
    border-bottom: 2px solid gainsboro;
}

.tax-cont .full-height-width {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    margin-bottom: 40px;
}


.tax-cont .ant-col.ant-form-item-label {
    margin: 9px 0 6px 0;
}

.tax-cont .ant-collapse {
    border-radius: 10px;
}


/* Data collection progress */
.data-collection-content .taxonomy-header-spacer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.data-collection-content .ant-layout-content {
    padding: 4rem;    
}

.data-collection-content .ant-row {
    margin-top: 1.5rem;
}

.data-collection-content h1 {
    color: #000;
}

.data-collection-content h2 {
    color: #000;
}

.ant-steps{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 64px;
    background: #fcfcfc;
    border-top: 2px solid gainsboro;
    align-items: center;
}

/* recommended */
.recommend-row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3px 13px;
    align-items: center;
}

.recommend-prog{
    width: 16px;
    border-radius: 4px;
    border: 2px solid #d5d5d5;
    height: 31px;
    position: relative;
}

.recommend-prog > span{
    background: rgb(192, 242, 192);
    width:100%;
    position: absolute;
    bottom: 0;
}

.recommend-row button{
    max-width: 70px;
    padding: 7px;
    font-size: .9em;
}
.recommend-word{
    width: 79%;
}