body {
  margin: 0;
  padding: 0;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

marquee {
  width: 100%;
}

ul, li {
  list-style: none;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input,
textarea {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
}

input[type=button],
input[type=submit],
input[type=reset],
button,
label,
a {
  outline: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

td,
tr,
form {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
span,
div,
button {
  color: #232737;
  outline: none !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 70.9375vw;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^=col-] {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  max-width: 100%;
}
.col-1 {
  max-width: 8.3333333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.3333333333%;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}
.col-2 {
  max-width: 16.6666666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.6666666667%;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}
.col-3 {
  max-width: 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}
.col-4 {
  max-width: 33.3333333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333333333%;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}
.col-5 {
  max-width: 41.6666666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.6666666667%;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}
.col-6 {
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.col-7 {
  max-width: 58.3333333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.3333333333%;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}
.col-8 {
  max-width: 66.6666666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.6666666667%;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}
.col-9 {
  max-width: 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}
.col-10 {
  max-width: 83.3333333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.3333333333%;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}
.col-11 {
  max-width: 91.6666666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.6666666667%;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}
.col-12 {
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-sm-4 {
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-sm-7 {
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-sm-10 {
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-md-4 {
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-md-7 {
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-md-10 {
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-lg-4 {
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-lg-7 {
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-lg-10 {
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.3333333333%;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-xl-2 {
    max-width: 16.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.6666666667%;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-xl-3 {
    max-width: 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-xl-4 {
    max-width: 33.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-xl-5 {
    max-width: 41.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-xl-6 {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-xl-7 {
    max-width: 58.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-xl-8 {
    max-width: 66.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666666667%;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-xl-9 {
    max-width: 75%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-xl-10 {
    max-width: 83.3333333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.3333333333%;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-xl-11 {
    max-width: 91.6666666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.6666666667%;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-xl-12 {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.font {
  line-height: 1.5;
  color: #64BBE3;
  font-family: "Montserrat", sans-serif;
  font-size: 1.04vw;
  font-weight: 400;
}
.font--prime {
  color: #2B5592;
}
.font--black {
  color: #000;
}
.font--gray {
  color: #E2E2E2;
}
.font--gray-1 {
  color: #333333;
}
.font--gray-3 {
  color: #828282;
}
.font--white {
  color: #fff;
}
.font--el {
  font-weight: 200;
}
.font--rg {
  font-weight: 400;
}
.font--mm {
  font-weight: 500;
}
.font--sb {
  font-weight: 600;
}
.font--bd {
  font-weight: 700;
}
.font--eb {
  font-weight: 800;
}
.font--xs {
  font-size: 12px;
}
.font--sm {
  font-size: 14px;
}
.font--md {
  font-size: 16px;
}
.font--lg {
  font-size: 18px;
}
.font--xlg {
  font-size: 20px;
}

@font-face {
  font-family: "FiraGO";
  src: url("../public/fonts/firago/FiraGO-Bold.eot");
  src: url("../public/fonts/firago/FiraGO-Bold.eot?#iefix") format("embedded-opentype"), url("../public/fonts/firago/FiraGO-Bold.woff") format("woff"), url("../public/fonts/firago/FiraGO-Bold.ttf") format("truetype"), url("../public/fonts/firago/FiraGO-Bold.svg#bpg_nino_mkhedruliregular") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../public/fonts/firago/FiraGO-Regular.eot");
  src: url("../public/fonts/firago/FiraGO-Regular.eot?#iefix") format("embedded-opentype"), url("../public/fonts/firago/FiraGO-Regular.woff") format("woff"), url("../public/fonts/firago/FiraGO-Regular.ttf") format("truetype"), url("../public/fonts/firago/FiraGO-Regular.svg#bpg_nino_mkhedruliregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../public/fonts/firago/FiraGO-Medium.eot");
  src: url("../public/fonts/firago/FiraGO-Medium.eot?#iefix") format("embedded-opentype"), url("../public/fonts/firago/FiraGO-Medium.woff") format("woff"), url("../public/fonts/firago/FiraGO-Medium.ttf") format("truetype"), url("../public/fonts/firago/FiraGO-Medium.svg#bpg_nino_mkhedruliregular") format("svg");
  font-weight: 500;
  font-style: normal;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 1.8518518519vh;
  line-height: 1;
  color: #64BBE3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
h1--prime, .h1--prime,
h2--prime, .h2--prime,
h3--prime, .h3--prime,
h4--prime, .h4--prime,
h5--prime, .h5--prime,
h6--prime, .h6--prime {
  color: #2B5592;
}
h1--white, .h1--white,
h2--white, .h2--white,
h3--white, .h3--white,
h4--white, .h4--white,
h5--white, .h5--white,
h6--white, .h6--white {
  color: #fff;
}

.h1,
h1 {
  font-size: 2.6041666667vw;
}

.h2,
h2 {
  font-size: 2.0833333333vw;
}

.h3,
h3 {
  font-size: 1.5625vw;
}

.h4,
h4 {
  font-size: 1.0416666667vw;
}

.h5,
h5 {
  font-size: 0.9375vw;
}

.h6,
h6 {
  font-size: 0.8333333333vw;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.align-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.align-spaced {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.align-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.align-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.align-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.align-self-top {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.align-self-bottom {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.align-self-middle {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.align-self-stretch {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
}
.align-center-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-underline {
  text-decoration: underline;
}
.text-cursive {
  font-style: italic;
}
.text-nowrap {
  white-space: nowrap;
}
.text-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}

.relative {
  position: relative;
}

.border {
  border: 0 !important;
}

.padding {
  padding: 0 !important;
}

.margin {
  margin: 0 !important;
}

.mt-a {
  margin-top: auto;
}

.mb-a {
  margin-bottom: auto;
}

.mr-a {
  margin-right: auto;
}

.ml-a {
  margin-left: auto;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
  overflow: visible;
  height: 4.0740740741vh;
  -webkit-border-radius: 0.5208333333vw;
          border-radius: 0.5208333333vw;
}
.btn span {
  font-size: 0.8333333333vw;
}
.btn__icon {
  width: 3.6458333333vw;
  height: 100%;
  background-color: #fff;
  padding: 0.3125vw;
}
.btn__icon svg {
  width: 100%;
  height: 100%;
}
.btn__text {
  padding: 0 2.0833333333vw;
}
.btn--sm {
  padding: 0 0.5208333333vw;
  height: 2.5925925926vh;
}
.btn--lg {
  height: 5.9259259259vh;
}
.btn--full-lg {
  width: 100%;
  height: 5.9259259259vh;
}
.btn--green {
  background-color: #2B5592;
}
.btn--green span {
  color: #FCFCFC;
}

.badge.bg-secondary {
  color: #333333;
  font-size: 12px;
  padding: 3px 8px;
  background-color: #E0E0E0;
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.field {
  width: 100%;
  height: 1.8229166667vw;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #64BBE3;
  border-left: 0;
  background-color: transparent;
  color: #E2E2E2;
  font-size: 1.04vw;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.textarea {
  border: 1px solid #2B5592;
  background-color: transparent;
  resize: none;
  color: #64BBE3;
}

.chkbox--showhide {
  position: absolute;
  top: 50%;
  right: 0.78125vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icn {
  display: inline-block;
}
.icn--arrow {
  border-top: 0;
  border-right: 0;
  border-color: #2B5592;
  border-bottom: 0.1041666667vw;
  border-left: 0.1041666667vw;
}
.icn--arrow.arrw-xs {
  width: 0.3645833333vw;
  height: 0.3645833333vw;
}
.icn--arrow.arrw-md {
  width: 0.5208333333vw;
  height: 0.5208333333vw;
}
.icn--arrow.arrw-lft {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icn--arrow.arrw-rght {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.icn--arrow.arrw-dwn {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.icn--arrow.arrw-top {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  height: 100%;
  color: #333333;
  font-family: "FiraGO", sans-serif;
  line-height: 1;
  overflow-x: hidden !important;
  overflow-y: auto;
  font-size: 1rem;
  font-weight: 400;
  background-color: #E2E2E2;
}

.icn-wrap svg {
  width: 100%;
  height: 100%;
}

main.main {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main.main .main-dashboard {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px;
}

.page--home .header {
  background: transparent;
}

section {
  background-color: #FCFCFC;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px 15px;
}

.filter {
  background-color: #FCFCFC;
  padding: 10px 15px;
  position: relative;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  margin-bottom: 0;
}
.filter .btn--show-hide {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background-color: #FCFCFC;
  padding: 8px 30px;
}

.table--header, .table--item {
  background-color: #FCFCFC;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}
.table--header {
  margin-bottom: 10px;
}
.table--header .table--row {
  padding: 10px 15px;
}
.table--item {
  padding: 10px 15px;
  margin-bottom: 15px;
}
.table--row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.table--col:first-child {
  width: 10%;
}
.table--col:nth-child(2) {
  width: 10%;
}
.table--col:nth-child(3) {
  width: 15%;
}
.table--col:nth-child(4) {
  width: 40%;
}
.table--col:nth-child(5), .table--col:nth-child(6), .table--col:nth-child(7), .table--col:nth-child(8), .table--col:nth-child(9) {
  width: 10%;
}
.table--extra-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.table--extra-row .badge {
  margin-right: 5px;
}
.table--item-tags {
  margin-right: 25px;
}

.transcripts--item p {
  margin-bottom: 15px;
}
.transcripts--item .badge {
  margin-right: 5px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav a {
  color: #2B5592;
  padding: 0 3px;
  margin: 0 5px;
}
.nav a.is-active {
  font-weight: 900;
}

.header {
  margin: 10px 0;
}

footer {
  margin-top: auto;
}

.sidebar {
  min-width: 10%;
  background-color: #FCFCFC;
  padding: 0 15px;
  position: relative;
}
.sidebar .main-nav ul li {
  margin-bottom: 8px;
}
.sidebar .main-nav ul li a {
  font-size: 12px;
  line-height: 130%;
  color: #828282;
}
.sidebar .main-nav ul li ul {
  margin-top: 5px;
}
.sidebar .main-nav ul li ul li {
  padding-left: 30px;
}
.sidebar .btn--show-hide {
  height: 26px;
  position: absolute;
  background-color: #FCFCFC;
  padding: 5px 30px;
  top: 50%;
  right: 0;
  -webkit-transform: translate(47%, -50%) rotate(-90deg);
      -ms-transform: translate(47%, -50%) rotate(-90deg);
          transform: translate(47%, -50%) rotate(-90deg);
}
.sidebar .btn--show-hide span {
  white-space: nowrap;
}

.accordion--wrapper {
  display: block;
}
.accordion--item {
  padding: 2.2916666667vw 3.6458333333vw;
  padding-bottom: 8.8541666667vw;
  background-color: #fff;
  margin-bottom: 5.2083333333vw;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.accordion--item.accordion--item-active {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.accordion--item.accordion--item-active .btn--prime .btn-inner-wrap {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}
.accordion--item h4 {
  font-size: 2.34375vw;
  font-weight: 500;
}
.accordion--item .accordion-body {
  max-height: 100%;
  overflow: hidden;
  height: 4.6875vw;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.accordion--item .uload-file {
  position: absolute;
  margin-left: 1.9791666667vw;
  bottom: 2.5vw;
}
.accordion--item .uload-file label {
  position: relative;
  z-index: 1;
  padding: 1.5625vw 0.2604166667vw;
}
.accordion--item .uload-file label:before {
  content: "";
  width: 3.28125vw;
  height: 3.28125vw;
  background: #2B5592;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: -1.9791666667vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}
.accordion--item .uload-file input[type=file] {
  display: none;
}
.accordion--item .btn--prime {
  right: 7.9166666667vw;
  left: auto;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 1.04167vw;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}
.accordion--item .btn--prime .btn-inner-wrap {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form__item {
  position: relative;
}
.form__item .field + label.label[data-placeholder], .form__item .textarea + label.label[data-placeholder] {
  pointer-events: none;
}
.form__item .field + label.label[data-placeholder]:after, .form__item .textarea + label.label[data-placeholder]:after {
  content: attr(data-placeholder);
  color: #E2E2E2;
  font-size: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0 8px;
  background-color: #fff;
}
.form__item .field:focus + label.label[data-placeholder]:after, .form__item .field:valid + label.label[data-placeholder]:after, .form__item .textarea:focus + label.label[data-placeholder]:after, .form__item .textarea:valid + label.label[data-placeholder]:after {
  -webkit-transform: translate(-5%, -1.5625vw);
      -ms-transform: translate(-5%, -1.5625vw);
          transform: translate(-5%, -1.5625vw);
  font-size: 12px;
}
.form__item .textarea + label.label[data-placeholder]:after {
  top: 30px;
}
.form__item .checkbox {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.slick-arrow {
  width: 2.5vw;
  height: 2.5vw;
  position: absolute;
  top: 50%;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.4' height='48.4' viewBox='0 0 48.4 48.4'%3E%3Cpath id='left' d='M421.3,588.4a24.2,24.2,0,1,0,24.2,24.2A24.156,24.156,0,0,0,421.3,588.4Zm6.9,40.6c-.1.1-.5-.1-.7-.2l-1.5-.9c-.8-.7-1.4-1.4-2.2-2.1-.8-.6-1.5-1.2-2.3-1.8a5.8,5.8,0,0,1-1.2-1c-1-1.1-2-2.4-3.1-3.5s-2.3-2.2-3.5-3.2c-.5-.5-1-.9-1.6-1.4s-1.2-1-1.7-1.5l-.7-.7c.8-.9,1.6-1.7,2.2-2.4,2.5-2.6,4-4,4-4,4.4-4.2,6.6-6.3,7.2-6.9,1.1-1,2.3-2,3.5-2.9a1.8,1.8,0,0,1,.9-.4,1.234,1.234,0,0,1,.8.4c.1.1-.1.5-.2.7l-.9,1.5c-.7.8-1.4,1.4-2.1,2.2-.6.8-1.2,1.6-1.8,2.3a5.8,5.8,0,0,1-1,1.2c-1.1,1-2.4,2-3.5,3.1s-2.2,2.4-3.2,3.5c-.5.5-.9,1.1-1.4,1.6,2.6,2.5,4,4,4,4,4.2,4.4,6.3,6.6,6.9,7.2a35.059,35.059,0,0,1,2.9,3.6,1.8,1.8,0,0,1,.4.9A.663.663,0,0,1,428.2,629Z' transform='translate(-397.1 -588.4)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-position: 50% 50%;
  background-size: cover;
  font-size: 0;
}
.slick-arrow.slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slick-arrow.slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) rotateY(180deg);
          transform: translateY(-50%) rotateY(180deg);
}
/*# sourceMappingURL=app.css.map */



.rbt-menu > .dropdown-item {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px;
  cursor: pointer;
  display: block;
}

.rbt-menu > .dropdown-item:hover{
  background-color: rgb(216, 216, 216)
}
.rbt-menu.dropdown-menu.show{
  display: flex;
flex-wrap: wrap;
background: white none repeat scroll 0% 0%;
z-index: 5;
box-shadow: rgb(136, 136, 136) 0px 4px 2px 1px;
padding: 8px;
top: 10px;
left: 0px;
transform: translate3d(0px, 16px, 0px);

}

.rbt-menu.dropdown-menu.show{
  /* top:10px !important */
}

.rbt-token-removeable {
  padding-right: 30px;
}

.rbt-token .rbt-token-remove-button{
  background: none;
  border:none
  
}

.sr-only.visually-hidden{
  display:none
}

.rbt-input-multi .rbt-input-wrapper, input, select {
  padding: 6px;
  min-height: 30px;
  border:none;
  background: rgba(230, 230, 230, 0.48);
  border:none;
}

.rbt-input-multi .rbt-input-wrapper{
  min-height: 35px;
}


.rbt-input-multi .rbt-input-main{
  min-height: auto;
}

.sidebar {
  min-width: 5%;
  border-right: 1px solid #ddd;
}

.font--xs.font--gray-3.mb-5 {
  margin-bottom: 2px;
  margin-top: 10px;
}

.rbt-input-multi .rbt-input-main{
  outline: none;
}


/* Table */
.table--item {
  margin-bottom: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

.table--row {
  max-height: 70px;
}
.table--col{
  overflow: hidden;
  /* text-align: center; */
}

.table--col:nth-child(4){
  text-align: left;
  font-size: 14px;
line-height: 17px;
padding-right: 7px;
}

.table--extra-row{
  position: absolute;
  bottom: 10px;
}

.table--header {
  background: none;
  font-size: 13px;
  color: gray;
  height: 41px;
  display: block;
  margin-bottom: 0;
  padding: 0 15px;
}

.table--header .table--col{
  text-align: left;
  font-weight: initial;
}

a, span, div, button {
  color: #4a4a4a;
}

.table--item:hover{
  opacity: .8 ;
}

.rbt-token.rbt-token-removeable {
  margin-top: 0;
  margin-bottom: 0;
}

.main-dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  height: 100%;
  flex-direction: column;
}

.table, .results{
  flex-grow: 200;
  display: block;
  position: relative;
}
.results{
  margin: 15px 0 15px 15px;
  padding-right: 15px;
  overflow: hidden;
}
.filter{
  flex-grow: 1;
  display: block;
  border-radius: 0;
}

.table--body {
  padding: 0 15px;
  position: absolute;
  height: calc(100% - 38px);
  bottom: 0;
  width: 100%;
  overflow: scroll;
}

#root{
  height: 100%;
  overflow: hidden;
}

main.main .main-dashboard {
  margin: 0;
}

.table--header, .table--item {
  border-radius: 4px;
}

.chart {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 70px;
  overflow: hidden;
  width: 70%;
}

.inactive {
  opacity: .3;
}

.sidebar .main-nav ul li a:hover{
  color: #1f1f1f;
}

.sidebar .main-nav ul li ul li {
  padding-left: 10px;
}

input[type="date"]{
  width: 100%;
}

.badge.bg-secondary {
  padding: 5px 5px;
}

.badge.bg-secondary:hover {
  opacity: .7
}

.main-nav.bottom {
  position: absolute;
  bottom: 10px;
}

.form__item.btn{
  min-height: 30px;
border: none;
background: rgba(230, 230, 230, 0.48);
margin-top: 22px;
display: flex;
font-size: 14px;
}

.form__item.btn:hover{
  opacity: .7;
}

.form__item.btn a{
  width: 100%;
  height: 30px;
  min-height: 30px;
  border: none;
  background: #89a7c6;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
  justify-content: center;
}

.table--header .table--col{
  cursor: pointer;
}
.table--header .table--col:hover{
  opacity: .7;
}



.rbt-token.rbt-token-removeable{
  background: #8d639a63;
  color: inherit;
}


/* map */

.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
  width: 100%;
  height: 100%;
}

.leaflet-marker-icon.leaflet-div-icon.leaflet-zoom-animated.leaflet-interactive {
  background: none;
  border: none;
}

.circle-map {
  background: red;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  /* display: none; */
}